#app {
	font-family: Arial;
}

li.highPriority,
#hi {
	color: red;
  font-weight: bold;
}

li.lowPriority,
#lo {
  color: orange;
}

form {
  display: flex;
}

input[type=radio] {
  float: right;
}

input[type=radio] label {
  float: left;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

li {
	margin: 7px 0;
  }
