li.highPriority {
	border: 1px solid red;
	color: red;
}

li.lowPriority {
  color: orange;
}

form {
  display: flex;
}

input[type=radio] {
  float: right;
}
input[type=radio] label {
  float: left;
}
